In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from hyperframe import HyperFrame
from sklearn.model_selection import train_test_split
from demo.helpers import metrics, X, y

In [2]:
X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.33, random_state=42)

In [3]:
clf = KNeighborsClassifier()
clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

# Initialisation

In [4]:
dimension_labels = ["train_test", "species", "metric"]

index_labels = {"train_test": ["train", "test"],
                "species": ["setosa", "versicolor", "virginica"],
                "metric": ["precision", "recall", "f1"]}

scores = HyperFrame(dimension_labels, index_labels)

# Setting data

In [5]:
yhat = clf.predict(X_train)
#iset alternative 1
scores.iset(metrics(y_train, yhat), "train", "", "")

In [6]:
yhat = clf.predict(X_test)
#iset alternative 2
scores.iset(metrics(y_test, yhat), train_test="test")

# Getting data

In [7]:
#iget alternative 1
scores.iget("train", "", "", return_type="pandas")

            precision    recall        f1
setosa       0.906250  0.935484  0.920635
versicolor   0.725000  0.828571  0.773333
virginica    0.857143  0.705882  0.774194

In [8]:
#iget alternative 2
scores.iget(species="versicolor", return_type="pandas")

       precision    recall        f1
train   0.725000  0.828571  0.773333
test    0.578947  0.733333  0.647059

In [9]:
#iget alternative 3
scores.iget0("species", "train_test", return_type="pandas")

{'metric': 'precision'}

         setosa  versicolor  virginica
train  0.906250    0.725000   0.857143
test   0.944444    0.578947   0.769231

#### Initialising a second HyperFrame

In [10]:
scores_lr = HyperFrame(dimension_labels, index_labels)
clf = LogisticRegression(penalty="none", max_iter=1000)
clf.fit(X_train, y_train)

yhat = clf.predict(X_train)
scores_lr.iset(metrics(y_train, yhat), "train", "", "")

yhat = clf.predict(X_test)
scores_lr.iset(metrics(y_test, yhat), "test", "", "")

# Merging

In [11]:
print("scores shape: {}".format(scores.shape))
print("scores_lr shape: {}".format(scores_lr.shape))

scores shape: (2, 3, 3)
scores_lr shape: (2, 3, 3)

In [12]:
scores_models = scores.merge(scores_lr, "model", ["knn", "logistic regression"])

In [13]:
scores_models.iget("test", "", "f1", "", return_type="pandas")

                 knn  logistic regression
setosa      0.918919             0.914286
versicolor  0.647059             0.588235
virginica   0.689655             0.645161

In [14]:
scores_models.iget("", "", "f1", "logistic regression", return_type="pandas")

         setosa  versicolor  virginica
train  0.952381    0.732394   0.757576
test   0.914286    0.588235   0.645161

#### Initialising a third HyperFrame

In [15]:
scores_rf = HyperFrame(dimension_labels, index_labels)
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

yhat = clf.predict(X_train)
scores_rf.iset(metrics(y_train, yhat), "train", "", "")

yhat = clf.predict(X_test)
scores_rf.iset(metrics(y_test, yhat), "test", "", "")

In [16]:
scores_rf.iget("test", "", "", return_type="pandas")

            precision    recall        f1
setosa       1.000000  0.842105  0.914286
versicolor   0.590909  0.866667  0.702703
virginica    0.833333  0.625000  0.714286

# Expanding A DataFrame

In [17]:
print("scores_models shape: {}".format(scores_models.shape))
print("scores_rf shape: {}".format(scores_rf.shape))

scores_models shape: (2, 3, 3, 2)
scores_rf shape: (2, 3, 3)

In [18]:
scores_models = scores_models.expand(scores_rf, "model", "random forest")

In [19]:
scores_models.iget("test", "", "f1", "", return_type="pandas")

                 knn  logistic regression  random forest
setosa      0.918919             0.914286       0.914286
versicolor  0.647059             0.588235       0.702703
virginica   0.689655             0.645161       0.714286

# Writing to file

In [20]:
scores_models.write_file("./demo/scores_models")

# Reading from file

In [21]:
scores_models = scores_models.read_file("./demo/scores_models")